@charset "UTF-8";
*{
	box-sizing: border-box;
}
html,body{
	height: 100%;
}
h2 {
	margin-top: 5px;
	margin-left: 10%;
}
/* 검색창 */
div.ser_title {
	display: flex;
	align-items: center;
	justify-content:center;
}

input#search {
	height: 25px;
	width: 400px;
}

i {
	margin-right: 2px;
	font-size: 25px;
}
/* 게시물 표 */
table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
	width: 80%;
}

table th, td {
	border: 1px solid #aaa;
	padding: 3px 5px;
	height: 10px;
	font-size: 12px;
	border-left: none;
	border-right: none;
}

tr.value:hover {
	cursor: pointer;
	background-color: #F2F5F4;
	transition: background-color 0.2s;
}

th, td {
	text-align: center;
}

th#th_au, td#td_au {
	width: 10px;
}

th#th_date, td#td_date {
	width: 10px;
}

th#th_time, td#td_time {
	width: 10px;
}

th#th_title, th#td_title {
	width: 100px;
}

th#th_no, td#td_no {
	width: 10px;
}

th#th_avo, td#td_avo {
	width: 10px;
}
a{
	text-decoration: none;
	
}
a:hover{
	cursor: pointer;
}
/* 버튼 */
button {
	padding: 5px 15px;
	background-color: rgb(3, 102, 53);
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	transition: background-color 0.3s;
	margin-bottom: 5px
}

button:hover {
	padding: 5px 15px;
	background-color: rgb(68, 32, 32);
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	transition: background-color 0.3s;
	box-shadow: 1px 1px 1px gray;
	margin-bottom: 5px;
	
}

button#write {
	margin-left: 80%;
	margin-top: 5px;
	font-size: 12px;
}

button#sear_click {
	font-size: 12px;
	margin-left: 8px;
	margin-top: 5px; 
}
div.main{
	height:79%; 
	position: relative;
	padding-bottom: 20px;
}